<%= javascript_pack_tag 'cart' %>


<h1>Your Cart</h1>
<div class="container">
  <hr>
  <h3 id="empty-info">Cart is empty!</h3>
  <div class="container" id="items">

    </div>
    <hr>
    <div class="container text-center" id="sub-info">
      <div class="row">
        <div class="col">
<h3 class="text-dark">Subtotal</h3><h4 class="text-dark font-weight-bold"id="subtotal"></h4>
        </div>
      </div>
<div class="row">
<div class="col">
<%= link_to "Proceed to Shipping", checkout_path, class: "btn btn-lg btn-primary" %>
</div>
</div>
    </div>
  </div>
</div>
