<%= javascript_pack_tag 'cart' %>

<h1>Your Cart</h1>
<a class="btn btn-primary btn-lg" id="clear">delete all</a>
<div class="container">
  <h4 id="empty-info">Cart is empty!</h4>
  <div class="container" id="items">
  
    </div>
    <img src="../app/assets/images/ASAP.jpg" alt="" />
  </div>
</div>
