<%= javascript_pack_tag 'cart' %>

<h1>Your Cart</h1>
<a class="btn btn-primary btn-lg" id="clear">delete all</a>
<div class="container">
  <h4 id="empty-info">Cart is empty!</h4>
  <div class="container" id="items">
    <div class="row">
<div class="col col-md-4">
<p>hello</p>
</div>
<div class="col col-md-4">

</div>
<div class="col col-md-1">

</div>
<div class="col col-md-2">
  <select id="qty" name="qty" value="1">
    <% 10.times do |i|  %>
    <option value="<%= i %>"><%= i %></option>
    <% end %>
  </select>
</div>
    </div>
    <img src="../app/assets/images/ASAP.jpg" alt="" />
  </div>
</div>
