<%= javascript_pack_tag 'pyramid' %>
<div class="container mt-md-5 text-justify">
  <h3>Contact us</h3>
    <hr>
    <div class="row my-md-3">
      <div class="col">
        <h5 class="my-5">How can we help?</h5>
        <p class="text-secondary">
          Confused on how to order? General questions about our products or shipping? No Worries.<br><br>
          We are here to help.
          You can reach us at <em>contact@throwback.fashion</em>. <br><br><strong>We are currently headquartered in Toronto, Canada.</strong>
        </p>
      </div>
    </div>

    <div class="row text-justify">
      <div class="col col-4 px-0 mx-0 my-4 my-md-0">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2881.871253779589!2d-79.5888085842711!3d43.754770253874455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b3ac1c02bbe89%3A0x15dc36a7c7059306!2s2757%20Kipling%20Ave%2C%20Etobicoke%2C%20ON%20M9V%204C4!5e0!3m2!1sen!2sca!4v1574659440384!5m2!1sen!2sca"
          frameborder="0" style="border:0;" allowfullscreen="">
          </iframe>
        </div>
      <div class="col col-12 mx-0 px-0">
        <h6>Sales and Support</h6>
        <p class="text-secondary">contact@throwback.fashion</p>

        <h6>Mailing/Shipping Address </h6>
        <p class="text-secondary">2757 Kipling avenue, Toronto, Ontario <br>Canada</p>
      </div>
    </div>
</div>
