
<div class="container text-center">
<hr class="py-3 mt-5 mt-md-4" />
<div class="row">
  <% @products.each do |product| %>
  <div class="col col-md-4 mb-4 mb-md-0 col-12">
<%= link_to image_tag("#{product.title}.png"), product %>
  <h5 class="text-dark "><%= product.title %></h5>

  </div>
  <% end %>
</div>
</div>
