<%= javascript_pack_tag 'pyramid' %>

<%= javascript_pack_tag 'order_success' %>

<div class="container my-5 py-5">
  <h1>Thanks for your order!</h1><br><br>
  <h4>Check your email for further order details</h4>
  <p>Expect an update e-mail with your tracking number within 1 or 3 days</p>

  </div>
