html,body{
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height:100%; /*A value other than height:auto needs to be set*/

}
.btn{
  color:white !important;
}
a:hover{
  color:black !important;
}
.h5{
  font-size: 3em;
  font-weight: 900;
}

@media only screen and (max-width: 600px) {
  #logo{
    width:110%;
    height: auto;
  }

  .main{
    padding-bottom: 60%;

  }

  img{
    width: 95%;
  }

  .mobile-gone{
    display: none;
  }

  #sub-info {
    background-color: white;
    border-style: solid;
  border-width: thin;
    position: fixed;
    text-align: center;
  left: 0;
    bottom: 0;
    width: 100%;
}
}
