@import 'bootstrap/dist/css/bootstrap';
html,body{
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height:100%; /*A value other than height:auto needs to be set*/

}

img{
  width: 85%;
  height: auto;
}
.nav-link:hover, .nav-item:hover, a:hover{
  background-color: none !important;
}

#logo{
  width:40%;
  height: auto;
}

h5{
  font-family: 'Source Code Pro', monospace !important;
font-size: 1.3em;
}

a{
  font-family: 'Coda', cursive;
  font-size: 1.2em;
  color:black !important;

}

a:hover{
  background-color: transparent !important;
}

@media only screen and (max-width: 600px) {
  #logo{
    width:110%;
    height: auto;
  }

  img{
    width: 95%;
  }
}
