// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
img{
  // width:50%;
}

#product-price{
  // font-weight: 800;
}

.show{
  text-align: center;
  padding-bottom: 45%;
}

#product-description{
  text-align: justify;

}
